
<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="heroe.img"  [alt]="heroe.nombre">
    <div class="card-body">
        <h4 class="card-title">{{heroe.nombre}}</h4>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text">{{heroe.aparicion}}</p>
    
        <button (click)="verHeroe()"
        type="button" class="btn btn-outline-primary btn-block"
        >Ver más link...</button>
        <!--<a [routerLink]="['/heroe',i]" type="button" class="btn btn-primary" style="width:100%"> Ver más link...</a>   -->
    </div>
</div>

